*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-size: 13px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope", sans-serif;
}
.container-main{
    display: flex;
    flex-direction: row;
    width: 53vmax;
    background-color: white;
    border-radius: 0.70rem;
    margin-bottom: 3rem;
}
.drawers{
    width:  40%;
    border-radius: 0.70rem 0 0 0.70em;
    overflow: hidden;
}

.container-text{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.container-1{
    margin: 2.7rem 2.7rem 0 2.7rem;
}
.container-2{
    margin: 0 2.7rem 2.7rem 2.7rem;
}

.container-1 h1{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    margin-bottom: 1rem;
}
.container-1 p{
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;
    margin-bottom: 1.2rem ;
}
.container-2{
    display: flex;
    align-items: center;
    
}
.container-2 .pfp{
    width: 2.7rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.container-info .name{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.container-info .date{
    color: var(--Grayish-Blue);
    font-weight: 500;
}
.container-2 button{
    margin-left: auto;
    border: none;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    
}
.container-2 button.active img{
    filter: brightness(0) invert(1);
}
.bubble {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    position: absolute;
    bottom: 140%; 
    left: 50%;
    transform: translate(-50%);
    padding: 1.2rem 2rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: none;
    border-radius: 0.5rem;
    white-space: nowrap;
    z-index: 1;
}
.bubble h3{
    color: var(--Grayish-Blue);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.4rem;
}
.bubble::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -10px; 
    border-width: 10px;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent; 
}
.bubble img{
    max-height: 20px;
}

@media screen and (max-width: 500px){
    .container-main{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
    }
    .drawers{
        height: 30%;
        width: 100%;
        border-radius: 0.70rem 0.70rem 0 0;
    }
    .container-text{
        
        height: 70%;
        width: 100%;
         
    }
    .container-text p{
        margin-bottom: 2.5rem;
    }
    .wrapper{
        position: relative;
        
    }
    .container-2 button{
        position: static;
        z-index: 2;
    
    }
    .bubble {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        bottom: 0;  
        align-items: center;
        justify-content: flex-start;
        padding: 1.2rem 2rem;
        background-color: var(--Very-Dark-Grayish-Blue);
        border-radius: 0 0 0.5rem 0.5rem ;
        z-index: -1;
        white-space: nowrap;
        
    }
    
    .bubble::after {
        display: none; 
    }
}
